  .background {
    position: fixed;
    top: -20vh !important;
    height: 120vh !important;
    left: 0;
    right: 0;
    z-index: -1;


    background: rgb(27,27,128);
    background: radial-gradient(circle, rgba(27,27,128,0.8) 13%, rgba(40,56,74,0.98) 82%);
  }

