  .background {
    position: fixed;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;


    background: rgb(27,27,128);
    background: linear-gradient(220deg, rgba(42, 28, 48, 0.8) 30%, rgba(94, 116, 93, 0.981) 70%);
  }

