.container_introduction {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: left;
    margin-top: 20dvh;
}

.img_introduction {
    grid-column: 2;
    grid-row: 1 / 5;
    height: 200px;
}

.description_introdution {
    max-width: 85%;
}
hr{
    width: 100%;
    margin: 10px 0 ;
}

@media (max-width: 500px){
    .container_introduction{
        grid-template-columns: 1fr;

    }
    .img_introduction{
        grid-column: 1;
        justify-self: center;
        height: 300px;
    }
    .container_introduction {
        margin-top: 10dvh;
    }
}