.link_social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    border: var(--icon-border) solid var(--color-letters);
}

.link_social:hover {
    border: 1.5px solid var(--color-secondary);


}

.link_social:hover>.icon_social {
    fill:  var(--color-secondary);
}
@media (max-width: 500px){
    .link_social {
        padding: 5px;
    }
}