.container_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

}

.container_icon:hover {
    filter: brightness(0.7);
}

.container_icon img {
    width: var(--icon-tecnology-size);
    height: var(--icon-tecnology-size);
    border-radius: 5px;
}

.container_icon span{
    font-size: var(--font-tecnology-size);
}