.container_carousel {
    position: relative;
    height: 400px;

}

.second_layer {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.background_card {
    max-height: calc(var(--card-size-height)/1.5);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.first_layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.center_card {
    position: absolute;
    height: var(--card-size-height);
    width: var(--card-size-width);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.move_btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    top: 0;
    bottom: 0;
    z-index: 20;
}

.move_btn :hover {
    height: 50px;

}


.left_btn {
    left: 60px;

}

.rigth_btn {
    right: 60px;

}

@media (max-width: 500px) {
    .center_card {
        max-height: 155px;
        max-width: 270px;
    }

    .background_card {
        max-height: 105px;

    }

    .left_btn {
        left: 25px;

    }

    .rigth_btn {
        right: 25px;

    }
}