.container_carousel {
    position: relative;
    height: 600px;
    margin-top: 20px;
}

.center_layer_layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.first_layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.container_card {
    display: flex;
}

.background_card {
    z-index: 10;
    filter: brightness(0.5);


}

.center_card {
    z-index: 20;
}

.left_card {
    transform: translateX(-70px) translateY(-20px) rotate(-2deg) scale(.9);

}

.right_card {
    transform: translateX(70px) translateY(-20px) rotate(2deg) scale(.9);
}


/* Animations  */
.move_to_center_from_left {
    animation: 1s move_to_center_from_left linear;
}

@keyframes move_to_center_from_left {
    0% {
        transform: translateX(-70px) translateY(-20px) rotate(-2deg) scale(.9);
        filter: brightness(0.5);
        z-index: 10;

    }
    30%{
        transform: translateX(-55%) translateY(-10px) rotate(-1deg) ;
        z-index: 15;

    }

    100% {
        transform: translateX(0) translateY(0) rotate(0) scale(1);
        filter: brightness(1);
        z-index: 20;

    }
}

.move_to_center_from_right {
    animation: 1s move_to_center_from_right linear;
}

@keyframes move_to_center_from_right {
    0% {
        transform: translateX(70px) translateY(-20px) rotate(2deg) scale(.9);
        filter: brightness(0.5);
        z-index: 10;
    }
    30%{
        transform: translateX(55%) translateY(-10px) rotate(1deg) ;
        z-index: 15;

    }
    100% {
        transform: translateX(0) translateY(0) rotate(0) scale(1);
        filter: brightness(1);
        z-index: 20;
    }
}

.move_left_card_from_right {
    animation: 1s move_left_card_from_right linear;
}

@keyframes move_left_card_from_right {
    0% {
        transform: translateX(0) translateY(0) rotate(0) scale(1);
        z-index: 20;
        filter: brightness(1);

    }
    30%{
        transform: translateX(-55%) translateY(-10px) rotate(-1deg) ;
        z-index: 15;

    }

    100% {
        transform: translateX(-70px) translateY(-20px) rotate(-2deg) scale(.9);
        z-index: 10;
        filter: brightness(.5);

    }
}
.move_rigth_card_from_left {
    animation: 1s move_rigth_card_from_left linear;
}

@keyframes move_rigth_card_from_left {
    0% {
        transform: translateX(0) translateY(0) rotate(0) scale(1);
        z-index: 20;
        filter: brightness(1);

    }
    30%{
        transform: translateX(55%) translateY(-10px) rotate(0deg) ;
        z-index: 15;

    }

    100% {
        transform: translateX(70px) translateY(-20px) rotate(2deg) scale(.9);
        z-index: 10;
        filter: brightness(.5);

    }
}

.move_btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    top: 0;
    bottom: 0;
    z-index: 20;
}

.move_btn svg {
    background: black;
    border-radius: 50%;
    padding: 5px;
}

.move_btn:hover {
    transform: scale(1.5);

}


.left_btn {
    left: 0px;

}

.right_btn {
    right: 0px;

}

@media (max-width: 500px) {
}