.app {
  max-width: 500px;
  margin: auto;
}

.handup {
  margin: auto;
  position: absolute;
  top: calc(100vh - 40px);
  left: 0;
  right: 0;
  animation: handerdown infinite 1s ease-in-out;
}

.handup path {
  color: rgb(234, 234, 16);
}

@keyframes handerdown {
  0% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-2px);
  }

}

@media (max-width: 500px) {
  .handup {
    top: calc(90vh - 40px);
  }

}