:root {
    --color-background: rgb(28, 28, 34);
    --color-background-seconadary: rgb(44, 44, 54);
    --color-secondary: #da2cc6;
    --color-letters: #fff;
    --font-size-h1: 50px;
    --font-size-h2: 40px;
    --font-size: 24px;
    --icon-size: 35px;
    --icon-border: 2.5px;
    --card-size-height: 260px;
    --card-size-width: 450px;
    --icon-tecnology-size: 70px;
    --font-tecnology-size: 25px;
    --position-element: center;

}

* {
    padding: 0;
    margin: 0;
    color: var(--color-letters);
    font-size: var(--font-size);

}

body {
    padding: 10px;
  
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

hr {
    width: 100%;
}

@media (max-width: 500px) {
    .handup {
        top: calc(90vh - var(--icon-size));
    }

    :root {
        --font-size-h1: 30px;
        --font-size-h2: 20px;
        --font-size: 14px;
        --icon-size: 25px;
        --icon-border: 1.5px;
        --icon-tecnology-size: 50px;
        --font-tecnology-size: 14px;
        --position-element: start;

    }

}